@font-face {
    font-family: 'Inter';
    src: local('Inter') , url(../src/Fonts/Inter.zip) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  #1C4980;
}

.small-icon{
    width: 35px;
    height: 35px;
}

.dashboard-icon{
    width: 40px;
    height: 40px;
}



